[submodule "base/trace_event/common"]
	path = base/trace_event/common
	url = git@github.com:QPDFium/common.git
[submodule "build"]
	path = build
	url = git@github.com:QPDFium/build.git
[submodule "buildtools"]
	path = buildtools
	url = git@github.com:QPDFium/buildtools.git
[submodule "testing/corpus"]
	path = testing/corpus
	url = git@github.com:QPDFium/pdfium_tests.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git@github.com:QPDFium/abseil-cpp.git
[submodule "third_party/depot_tools"]
	path = third_party/depot_tools
	url = git@github.com:QPDFium/depot_tools.git
[submodule "third_party/freetype/src"]
	path = third_party/freetype/src
	url = git@github.com:QPDFium/freetype2.git
[submodule "third_party/googletest/src"]
	path = third_party/googletest/src
	url = git@github.com:QPDFium/googletest.git
[submodule "third_party/instrumented_libraries"]
	path = third_party/instrumented_libraries
	url = git@github.com:QPDFium/instrumented_libraries.git
[submodule "third_party/jinja2"]
	path = third_party/jinja2
	url = git@github.com:QPDFium/jinja2.git
[submodule "third_party/libjpeg_turbo"]
	path = third_party/libjpeg_turbo
	url = git@github.com:QPDFium/libjpeg_turbo.git
[submodule "third_party/markupsafe"]
	path = third_party/markupsafe
	url = git@github.com:QPDFium/markupsafe.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:QPDFium/zlib.git
[submodule "tools/clang"]
	path = tools/clang
	url = git@github.com:QPDFium/clang.git
[submodule "tools/memory"]
	path = tools/memory
	url = git@github.com:QPDFium/memory.git
[submodule "third_party/nasm"]
	path = third_party/nasm
	url = git@github.com:QPDFium/nasm.git
[submodule "third_party/test_fonts"]
	path = third_party/test_fonts
	url = git@github.com:QPDFium/test_fonts.git
[submodule "tools/code_coverage"]
	path = tools/code_coverage
	url = git@github.com:QPDFium/code_coverage.git
[submodule "third_party/skia"]
	path = third_party/skia
	url = git@github.com:QPDFium/skia.git
[submodule "third_party/icu"]
	path = third_party/icu
	url = git@github.com:QPDFium/icu.git
[submodule "v8"]
	path = v8
	url = git@github.com:QPDFium/v8.git
